<div class="header">
	<div class="w">
		<a href="./index.html" class="logo">小淘七</a>
		<div class="search-con">
			<input type="text" class="search-input" id="search-input" placeholder="请输入商品名称"/>
			<input type="submit" class="btn search-btn" id="search-btn" />
		</div>
		<div class="w hots-keyword">
			<ul class="hots-list">
				<li class="hots-item"><a class="link" href="//miaosha.bdycit.com">秒杀</a></li>
				<li class="hots-item"><a class="link"  href="//miaosha.bdycit.com">优惠券</a></li>
				<li class="hots-item"><a class="link"  href="//miaosha.bdycit.com">闪购</a></li>
				<li class="hots-item"><a class="link"  href="//miaosha.bdycit.com">拍卖</a></li>
				<li class="hots-item"><a class="link"  href="//miaosha.bdycit.com">服装城</a></li>
				<li class="hots-item"><a class="link"  href="//miaosha.bdycit.com">生鲜</a></li>
				<li class="hots-item"><a class="link"  href="//miaosha.bdycit.com">数码</a></li>
				<li class="hots-item"><a class="link"  href="//miaosha.bdycit.com">女装</a></li>
			</ul>
		</div>
	</div>
</div>